
button {
  display: block;
  margin: auto;
  margin-top: 20px;
  background: #ddd;
  color: #444;
  font-family: monospace;
  font-size: 25px;
  font-weight: 700;
  width: 125px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 7px #000B;
}

.nav1, .nav2 {
  position: absolute;
  padding-top: 0px;
  line-height: 40px;
  bottom: 30%;
  font-size: 50px;
  width: 100px;
  height: 60px;
}
.nav1 {
  left: 50px;
}
.nav2 {
  right: 50px;
}
